@using HouseholdOnlineStore.Models.ViewModels;
@model EditProductVM

<h1 class="my-lg-5">Edit Product</h1>

<form method="post" enctype="multipart/form-data">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<h3>Main Info</h3>
	<input type="hidden" asp-for="Id" />
	<div class="form-group">
		<label asp-for="Name" class="control-label"></label>
		<input asp-for="Name" class="form-control"/>
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Description" class="control-label"></label>
		<input asp-for="Description" class="form-control"/>
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Left" class="control-label"></label>
		<input asp-for="Left" class="form-control" />
		<span asp-validation-for="Left" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Manufacturer" class="control-label"></label>
		<input asp-for="Manufacturer" class="form-control" />
		<span asp-validation-for="Manufacturer" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Price" class="control-label"></label>
		<input asp-for="Price" class="form-control" />
		<span asp-validation-for="Price" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Image" class="control-label"></label>
		<input asp-for="Image" class="form-control" />
		<span asp-validation-for="Image" class="text-danger"></span>
	</div>
	<h3 class="mt-lg-5">Characteristics</h3>
	<div class="form-group" id="item-list">
		@for (int i = 0; i < Model.Characterictics.Count; i++)
		{
			<hr />
			<label >Name</label>
			<input type="text" asp-for="Characterictics" value=@Model.Characterictics.ElementAt(i).Name class="items form-control" name=@("Characterictics["+i+"].Name")/>
		<label>Value</label>
			<input type="text" asp-for="Characterictics" value=@Model.Characterictics.ElementAt(i).Value class="items form-control" name=@("Characterictics["+i+"].Value") />
		}
	</div>
	<a class="btn btn-secondary" href="#" id="add">Add</a>
	<input type="submit" value="Edit" class="btn btn-primary" />
</form>
@section Scripts {
	<script>
		$(function () {

			$("#add").click(function (e) {
				e.preventDefault();
				var i = ($(".items").length) / 2;
				var n = '<hr /><label>Name</label>' +
					'<input type="text" asp-for="Characterictics" value="" class="items form-control" name="Characterictics[' + i + '].Name" />' +
				'<label>Value</label>' +
					'<input type="text" asp-for="Characterictics" value="" class="items form-control" name="Characterictics[' + i + '].Value" />'
					

				$("#item-list").append(n);
			});

		});
	</script>
}